<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adyen.adyen_checkout">

    <application>
        <service android:name=".dropInSession.SessionDropInService" />
        <service android:name=".dropInAdvancedFlow.AdvancedFlowDropInService" />
    </application>

</manifest>
