<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adyen.adyen_checkout">

    <application>
        <service android:name=".dropIn.session.SessionDropInService" />
        <service android:name=".dropIn.advanced.AdvancedDropInService" />
    </application>

</manifest>
