name: Android clean build

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  android_clean_build:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        api-level: [ 36 ]
        flutter-version: [ 3.16.x, 3.19.x, 3.22.x, 3.24.x, 3.27.x, 3.29.x, 3.32.x, 3.35.x, 3.38.x ]
        agp_version: [ 8.13.1 ]
        gradle_version: [ 8.13 ]
    env:
      FLUTTER_VERSION: ${{ matrix.flutter-version }}
      COMPILE_SDK_VERSION: ${{ matrix.api-level }}
      AGP_VERSION: ${{ matrix.agp_version }}
      GRADLE_VERSION: ${{ matrix.gradle_version }}

    steps:
      - name: Provide more disk space
        run: |
          sudo rm -rf /opt/hostedtoolcache
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc /opt/cabal /opt/stack
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf "/usr/local/share/boost"
          sudo apt-get remove -y 'php.*'
          sudo docker image prune --all --force

      - uses: actions/checkout@v6

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: 'stable'
          cache: true
          cache-key: ${{ matrix.flutter-version }}

      - name: Create demo project and build APK
        run: |
          flutter create --template=app --platforms=android,ios demo_project
          cd demo_project
          
          change_sdk_versions() {
            sed -i "s/flutter.compileSdkVersion/$COMPILE_SDK_VERSION/g" android/app/build.gradle
            sed -i "s/flutter.minSdkVersion/21/g" android/app/build.gradle
          }
          
          change_agp_version() {
            sed -i "s/id \"com.android.application\" version \"7.3.0\"/id \"com.android.application\" version \"$AGP_VERSION\"/g" android/settings.gradle
          }
          
          # Change Kotlin version and adjust Gradle for Flutter 3.16.x
          if [[ "$FLUTTER_VERSION" == "3.16.x" ]]; then
            sed -i "s/ext.kotlin_version = '1.7.10'/ext.kotlin_version = '1.8.22'/g" android/build.gradle
            sed -i "s/gradle-7.5-all/gradle-$GRADLE_VERSION-all/g" android/gradle/wrapper/gradle-wrapper.properties
            change_agp_version
            change_sdk_versions
          fi
          
          # Change Kotlin version and adjust Gradle for Flutter 3.19.x - 3.24.x versions
          if [[ "$FLUTTER_VERSION" == "3.19.x" || "$FLUTTER_VERSION" == "3.22.x" || "$FLUTTER_VERSION" == "3.24.x" ]]; then
            sed -i 's/"org.jetbrains.kotlin.android" version "1.7.10"/"org.jetbrains.kotlin.android" version "1.8.22"/g' android/settings.gradle
            sed -i "s/gradle-7.6.3-all/gradle-$GRADLE_VERSION-all/g" android/gradle/wrapper/gradle-wrapper.properties
            change_agp_version
            change_sdk_versions
          fi  

          #Add missing Kotlin options for Flutter 3.22.x
          if [ $FLUTTER_VERSION == '3.22.x' ]; then
            sed -i '/defaultConfig {/i \
              kotlinOptions {\
                jvmTarget = 'JavaVersion.VERSION_1_8'\
              }\
            ' android/app/build.gradle
          fi
          
          dart pub add 'adyen_checkout:{"path":"../"}'
          flutter build apk --debug  

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false

      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          target: google_apis
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          emulator-boot-timeout: 300
          script: echo "Generated AVD snapshot for caching."

      - name: Run connected installation test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          target: google_apis
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          working-directory: ./demo_project
          script: |
            echo "Emulator launched"
            adb install build/app/outputs/flutter-apk/app-debug.apk
            adb shell monkey -p com.example.demo_project  -c android.intent.category.LAUNCHER 1

