name: Android unit tests

on:
  workflow_call:
    inputs:
      flutter-version:
        description: 'Flutter version'
        required: true
        default: '3.16.2'
        type: string

jobs:
  android_tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: example/android
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 18

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ inputs.flutter-version }}
          channel: 'stable'
          cache: true

      - run: flutter doctor -v
      - run: flutter clean
      - run: flutter pub get

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: wrapper

      - name: Init gradle wrapper
        run: gradle wrapper

      - name: Lint check
        run: ./gradlew ktlintCheck

      - name: Execute unit tests
        run: ./gradlew testDebugUnitTest

      - name: Code coverage reporting
        run: ./gradlew jacocoTestReport
