name: Android unit tests

on:
  workflow_call:
    inputs:
      flutter-version:
        description: 'Flutter version'
        required: true
        default: '3.29.x'
        type: string

permissions:
  contents: read

jobs:
  android_tests:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: example/android
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'zulu'
          java-version: 18

      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          flutter-version: ${{ inputs.flutter-version }}
          channel: 'stable'
          cache: true

      - run: flutter doctor -v
      - run: flutter clean
      - run: flutter pub get

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          gradle-version: '8.13'

      - name: Init gradle wrapper
        run: gradle wrapper

      - name: Lint check
        run: ./gradlew ktlintCheck lintReportDebug

      - name: Unit tests with code coverage reporting
        run: ./gradlew jacocoTestReport

      - name: Cache android reports
        uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        id: save-android-reports
        with:
          path: example/build/adyen_checkout/reports
          key: android-reports