name: Android unit tests

on:
  workflow_call:
    inputs:
      flutter-version:
        description: 'Flutter version'
        required: true
        default: '3.24.0'
        type: string

jobs:
  android_tests:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: example/android

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 18

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ inputs.flutter-version }}
          channel: 'stable'
          cache: true
          cache-key: ${{ env.FLUTTER_VERSION }}

      - run: flutter pub get

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: wrapper

      - name: Init gradle wrapper
        run: gradle wrapper

      - name: Lint check
        run: ./gradlew ktlintCheck lintReportDebug

      - name: Unit tests with code coverage reporting
        run: ./gradlew jacocoTestReport

      - name: Cache android reports
        uses: actions/cache/save@v4
        id: save-android-reports
        with:
          path: example/build/adyen_checkout/reports
          key: android-reports