name: Check PR

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  FLUTTER_VERSION: '3.24.0'

jobs:
  #  The preparation job is required to populate the FLUTTER_VERSION value as output for the tests jobs.
  preparation:
    name: Prepare environment vars
    runs-on: ubuntu-22.04
    outputs:
      FLUTTER_VERSION: ${{ env.FLUTTER_VERSION }}
    steps:
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: 'stable'
          cache: true
          cache-key: ${{ env.FLUTTER_VERSION }}

  test_flutter:
    name: Flutter tests
    needs: [ preparation ]
    uses: ./.github/workflows/flutter_tests.yml
    with:
      flutter-version: ${{ needs.preparation.outputs.FLUTTER_VERSION }}
  test_android:
    name: Android tests
    needs: [ preparation ]
    uses: ./.github/workflows/android_tests.yml
    with:
      flutter-version: ${{ needs.preparation.outputs.FLUTTER_VERSION }}
  test_ios:
    name: iOS tests
    needs: [ preparation ]
    uses: ./.github/workflows/ios_tests.yml
    with:
      flutter-version: ${{ needs.preparation.outputs.FLUTTER_VERSION }}
  sonar_cloud:
    name: Sonar cloud
    needs: [ test_android, test_ios ]
    uses: ./.github/workflows/sonar_cloud.yml
    with:
      flutter-version: ${{ needs.preparation.outputs.FLUTTER_VERSION }}
    secrets: inherit

  clean_up:
    name: Clean up
    runs-on: ubuntu-22.04
    continue-on-error: true
    needs: [ sonar_cloud ]
    steps:
      - uses: actions/checkout@v4
      - name: Clear cache
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh cache delete android-reports
          gh cache delete ios-reports


