name: Flutter unit tests

on:
  workflow_call:
    inputs:
      flutter-version:
        description: 'Flutter version'
        required: true
        default: '3.16.2'
        type: string

jobs:
  flutter_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ inputs.flutter-version }}
          channel: 'stable'
          cache: true

      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test  --coverage

      - name: Setup LCOV
        run: sudo apt-get -y install lcov
        shell: bash

      - name: Report code coverage
        uses: zgosalvez/github-actions-report-lcov@v4
        with:
          coverage-files: coverage/lcov.info
          artifact-name: flutter-coverage-report