name: Flutter unit tests

on:
  workflow_call:
    inputs:
      flutter-version:
        description: 'Flutter version'
        required: true
        default: '3.29.x'
        type: string

jobs:
  flutter_tests:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          flutter-version: ${{ inputs.flutter-version }}
          channel: 'stable'
          cache: true

      - name: Setup LCOV
        run: sudo apt-get -y install lcov
        shell: bash

      - run: flutter pub get
      - run: flutter analyze
      - run: |
          flutter test --coverage 
          lcov --remove coverage/lcov.info 'lib/**/*.g.dart' -o ./coverage/coverage_with_exclusion.info 

      - name: Report code coverage
        uses: zgosalvez/github-actions-report-lcov@c18f1c00419937aa086a9a29d82a03912d160f4d # v6.0.0
        with:
          coverage-files: coverage/coverage_with_exclusion.info
          artifact-name: flutter-coverage-report
          github-token: ${{ secrets.GITHUB_TOKEN }}