name: Swift unit tests

on:
  workflow_call:
    inputs:
      flutter-version:
        description: 'Flutter version'
        required: true
        default: '3.29.x'
        type: string

permissions:
  contents: read

jobs:
  ios_tests:
    runs-on: macos-26
    timeout-minutes: 45
    defaults:
      run:
        working-directory: example/ios

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          flutter-version: ${{ inputs.flutter-version }}
          channel: 'stable'
          cache: true

      - run: flutter doctor -v
      - run: flutter clean
      - run: flutter pub get

      - name: Pod install
        run: pod install

      - name: Lint check
        working-directory: ios
        run: |
          brew install swiftlint
          fastlane run swiftlint config_file:".swiftlint.yml" output_file:"swiftLintReport.json" reporter:"json"

      - name: Cache iOS reports
        uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        id: save-iOS-reports
        with:
          path: ios/
          key: ios-reports

      - name: Run ios unit tests
        run: |
          xcodebuild test \
          -workspace Runner.xcworkspace \
          -scheme Runner \
          -destination "platform=iOS Simulator,name=iPhone 17,OS=26.1" \
          -enableCodeCoverage YES | xcpretty --utf --color && exit ${PIPESTATUS[0]}