name: iOS clean build

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ios_clean_build:
    runs-on: macos-26
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        iPhone: [ "'iPhone 17'" ]
        flutter-version: [ 3.16.x, 3.19.x, 3.22.x, 3.24.x, 3.27.x, 3.29.x, 3.32.x, 3.35.x, 3.38.x ]
    env:
      IPHONE_MODEL: ${{ matrix.iPhone }}

    steps:
      - name: Provide more disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: 'stable'
          cache-key: ${{ matrix.flutter-version }}

      - run: flutter pub get

      - name: Create default project and add Adyen checkout plugin package
        run: |
          flutter create --template=app --platforms=android,ios demo_project
          cd demo_project
          dart pub add 'adyen_checkout:{"path":"../"}'

      - name: Build app for simulator
        working-directory: demo_project
        run: flutter build ios --debug --simulator

      - name: Install app on simulator
        working-directory: demo_project
        run: |
          open -a Simulator && xcrun simctl boot "$IPHONE_MODEL"
          xcrun simctl install "$IPHONE_MODEL" build/ios/iphonesimulator/Runner.app
          xcrun simctl launch "$IPHONE_MODEL" com.example.demoProject